<div class="wrapperbox">
<div class="box">
	
<form>
	<h3>Crumplecorn's ARK Breeding Calculator</h3>
	<p class="subheading">Hover over labels for tooltips<br>
	Updated to v678.20 <a href="https://a-calc.de">by a-calc.de</a><br>
	Updated to v357.1</p>

	<div class="panelbar">
		<input type="button" class="addpanel" ng-click="addpanel()" value="+ Track another creature">
	</div>

	<div class="panelrow">
		<div class="panelcolumn" ng-repeat="panel in panels">
			<div class="panelclose" ng-show="panels.length>1"><input type="button" ng-click="removepanel(panel)" value="x"></div>
			<div ng-controller="breedingController" ng-include="'dinopanel.html?d=20260817'"></div>
		</div>
	</div>


	<div class="tableheader slide" ng-class="{'dimmed': !tablevisibility['Trough']}" ng-click="showhidetable('Trough')">Trough Calculator - Food</div>
	<div class="tableslide" ng-show="tablevisibility['Trough']">
	<table>
		<tr>
			<td style="width: 50%" class="label tooltip">Profile:<span class="tooltiptext">Separate trough setups, e.g. main base and water outpost. Each tab remembers its own selection, so a second tab can work on a different profile without disturbing this one.</span></td>
			<td>
				<select ng-options="p as p.name for p in troughprofiles" ng-model="activeprofile" ng-change="switchprofile()"></select>
				<input type="button" ng-click="addprofile()" value="New">
				<input type="button" ng-click="renameprofile()" value="Rename">
				<input type="button" ng-click="removeprofile()" value="Delete">
			</td>
		</tr>
		<tr>
			<td style="width: 50%" class="label tooltip">Prim+ Stacksizes:<span class="tooltiptext">Check this if you are on Prim+ using the old stack sizes</span></td>
			<td><input ng-model="settings.stackSize" ng-change="changeStackSize()" type="checkbox"></td>
		</tr>
		<tr>
			<td style="width: 50%" class="label tooltip">Trough Type:<span class="tooltiptext">Sets the spoil rate of the food based on the container you will use, Tek=100x, Normal=4x, Clicker=1x</span></td>
			<td><select ng-options="type as type for (type, multi) in troughtypes" ng-model="settings.troughtype" ng-change="troughcalc()"></select></td>
		</tr>
		<tr ng-repeat="(food, stacks) in troughstacks">
			<td style="width: 50%" class="label tooltip">{{food}}<span class="tooltiptext">Stacks of {{foods[food].stack}} {{food}} in troughs</span></td>
			<td><input ng-model="troughstacks[food]" ng-change="troughcalc()" type="number"> Stacks</td>
		</tr>
		<tr ng-repeat="(type, time) in troughdata.times">
			<td style="width: 50%" class="label tooltip">{{type}}:<span class="tooltiptext">How long {{type}}s will have food in the current configuration</span></td>
			<td>{{time | secondsToDateTime}}</td>
		</tr>
		<tr>
			<td style="width: 50%" class="label tooltip">Loss<span class="tooltiptext">Amount of food points to spoilage, cooking meat is automatic 50% loss</span></td>
			<td>{{(troughdata.spoiledpoints+troughdata.wastedpoints)/troughdata.totalpoints*100}}%</td>
		</tr>
	</table>
	</div>

	<div class="tableheader slide" ng-class="{'dimmed': !tablevisibility['TroughCreatures']}" ng-click="showhidetable('TroughCreatures')">Trough Calculator - Creatures</div>
	<div class="tableslide" ng-show="tablevisibility['TroughCreatures']">
	<table>
		<thead>
			<td>Creature</td>
			<td>Maturation</td>
			<td>Quantity</td>
			<td>Remove</td>
		</thead>
		<tr>
			<td><input type="button" ng-click="troughaddcreature()" value="Add Creature"></td>
		</tr>
		<tr ng-repeat="(index, troughcreature) in creaturelist">
			<td><select ng-options="name as name for (name, details) in creatures" ng-model="troughcreature.name" ng-change="troughupdatefoodtypes();troughcalc()"></select></td>
			<td><input ng-model="troughcreature.maturation" ng-change="troughcalc()" percentage type="number"></td>
			<td><input ng-model="troughcreature.quantity" ng-change="troughcalc()" type="number"></td>
			<td><input type="button" ng-click="troughremovecreature(index)" value="Remove"></td>
		</tr>
	</table>
	</div>

	<p class="footer">
	<input id="animationscb" class="hidden" type="checkbox" ng-model="displayconfig.showanimations" ng-true-value="0" ng-false-value="1" ng-change="showhideanimations()"><label for="animationscb">Disable Animations</label>
	<input id="oldselectscb" class="hidden" type="checkbox" ng-model="displayconfig.showoldselects" ng-true-value="1" ng-false-value="0" ng-change="changedisplayconfig()"><label for="oldselectscb">Simple Selectors</label><br>
	<a href="http://crumplecorn.com/content/breeding-calculator">Feedback / Background / Changelog</a><br>
	<a href="http://twitch.tv/crumplecorn">Stream</a> <a href="https://www.twitchalerts.com/donate/crumplecorn">Donate</a>
	</p>
</form>

</div>
</div>
