<div class="wrapperbox">
<div class="box">
	
<form>
	<h3>Crumplecorn's ARK Breeding Calculator</h3>
	<p class="subheading">Hover over labels for tooltips<br>
	Updated to v678.20 <a href="https://a-calc.de">by a-calc.de</a><br>
	Updated to v357.1</p>

	<div class="panelbar">
		<input type="button" class="addpanel" ng-click="addpanel()" value="+ Track another creature">
	</div>

	<div class="panelrow" sortable-list="panels" sortable-handle=".panelhandle">
		<div class="panelcolumn" ng-class="{'collapsed': panel.collapsed}" ng-repeat="panel in panels">
			<div class="panelhead">
				<span class="panelhandle" title="Drag to reorder">&#9776; {{panel.name || 'Creature'}}<span ng-show="panel.collapsed && panel.maturation"> &middot; {{panel.maturation | percentage}}%</span></span>
				<a class="panelbtn" ng-click="panel.collapsed=!panel.collapsed" title="{{panel.collapsed ? 'Expand' : 'Collapse to a button'}}"><span ng-hide="panel.collapsed">&minus;</span><span ng-show="panel.collapsed">+</span></a>
				<a class="panelbtn" ng-show="panels.length>1" ng-click="removepanel(panel)" title="Close this creature">&times;</a>
			</div>
			<div ng-show="!panel.collapsed" ng-controller="breedingController" ng-include="'dinopanel.html?d=20260818'"></div>
		</div>
	</div>


	<div class="panelbar">
		<input type="button" class="addpanel" ng-click="addtrough()" value="+ Add a trough">
	</div>

	<div class="panelrow troughrow" sortable-list="troughs" sortable-handle=".troughhandle">
		<div class="panelcolumn troughcolumn" ng-class="{'collapsed': trough.collapsed}" ng-repeat="trough in troughs">
			<div class="panelhead">
				<span class="troughhandle" title="Drag to reorder">&#9776; {{trough.name}}<span ng-show="trough.collapsed && trough.creaturelist.length"> &middot; {{trough.creaturelist.length}}</span></span>
				<a class="panelbtn" ng-click="renametrough(trough)" title="Rename">&#9998;</a>
				<a class="panelbtn" ng-click="trough.collapsed=!trough.collapsed" title="{{trough.collapsed ? 'Expand' : 'Collapse to a button'}}"><span ng-hide="trough.collapsed">&minus;</span><span ng-show="trough.collapsed">+</span></a>
				<a class="panelbtn" ng-show="troughs.length>1" ng-click="removetrough(trough)" title="Close this trough">&times;</a>
			</div>
			<div ng-show="!trough.collapsed" ng-controller="breedingController" ng-include="'troughpanel.html?d=20260818'"></div>
		</div>
	</div>


	<p class="footer">
	<input id="animationscb" class="hidden" type="checkbox" ng-model="displayconfig.showanimations" ng-true-value="0" ng-false-value="1" ng-change="showhideanimations()"><label for="animationscb">Disable Animations</label>
	<input id="oldselectscb" class="hidden" type="checkbox" ng-model="displayconfig.showoldselects" ng-true-value="1" ng-false-value="0" ng-change="changedisplayconfig()"><label for="oldselectscb">Simple Selectors</label><br>
	<a href="http://crumplecorn.com/content/breeding-calculator">Feedback / Background / Changelog</a><br>
	<a href="http://twitch.tv/crumplecorn">Stream</a> <a href="https://www.twitchalerts.com/donate/crumplecorn">Donate</a>
	</p>
</form>

</div>
</div>
